<h1>Ember Hold Button</h1>

<h3>Rectangle</h3>
{{#hold-button "cheese" delay=200 action='finished'}}
  Hold to delete
{{/hold-button}}

<h3>Circle</h3>
{{hold-button delay=400 type='circle' action='finished'}}

<h3>Border Circle</h3>
{{hold-button delay=400 type='border-circle' action='finished'}}
